<div class="row">
    <img class="input-field col s6" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Departments_of_colombia.svg/370px-Departments_of_colombia.svg.png">
    <div class="input-field col s6">
	<ul class="collapsible">
	    <li>
		<div class="collapsible-header">
		    <a href="/admin/add-department"> <i class="material-icons">save</i> Crear un departamento </a>
		</div>
	    </li>
	    <li>
		<div class="collapsible-header">
		    <a href="/admin/add-city"> <i class="material-icons">save</i> Crear una ciudad </a>
		</div>
	    </li>
	    <li>
		<div class="collapsible-header">
		    <a href="/admin/add-park"> <i class="material-icons">save</i> Crear un parque </a>
		</div>
	    </li>
	    <li>
		<div class="collapsible-header">
		    <a href="/admin/add-zone"> <i class="material-icons">save</i> Crear una zona </a>
		</div>
	    </li>
	</ul>
    </div> 
</div> 
<div class="row">
    <img class="input-field col s6" src="https://cloudfront-us-east-1.images.arcpublishing.com/infobae/IWWI6YATYJBBPEX5TAR3XNSD3Y.jpeg">
    <div class="input-field col s6">
	<ul class="collapsible">
	    <li>
		<div class="collapsible-header">
		    <a href="/admin/search-department"> <i class="material-icons">search</i> Desplegar departamentos </a>
		</div>
	    </li>
	    <li>
		<div class="collapsible-header">
		    <a href="/admin/search-city"> <i class="material-icons">search</i> Desplegar ciudades </a>
		</div>
	    </li>
	    <li>
		<div class="collapsible-header">
		    <a href="/admin/search-park"> <i class="material-icons">search</i> Desplegar parques </a>
		</div>
	    </li>
	    <li>
		<div class="collapsible-header">
		    <a href="/admin/search-zone"> <i class="material-icons">search</i> Desplegar zonas </a>
		</div>
	    </li>
	</ul>
    </div> 
</div> 
<div class="row">
    <img class="input-field col s6" src="https://www.eltiempo.com/files/article_multimedia/uploads/2017/10/04/59d50f3e53199.jpeg">
    <div class="input-field col s6">
	<ul class="collapsible">
	    <li>
		<div class="collapsible-header">
		    <a href="/admin/delete-park"> <i class="material-icons">delete</i> Eliminar un parque </a>
		</div>
	    </li>
	    <li>
		<div class="collapsible-header">
		    <a href="/admin/delete-zone"> <i class="material-icons">delete</i> Eliminar una zona </a>
		</div>
	    </li>
	</ul>
    </div>
</div> 
<div class="row">
    <img class="input-field col s6" src="https://upload.wikimedia.org/wikipedia/commons/c/c8/Salitre_2007_%283%29.jpg">
    <div class="input-field col s6">
	<ul class="collapsible">
	    <li>
		<div class="collapsible-header">
		    <a href="/admin/update-department"> <i class="material-icons">edit</i> Editar departamentos </a>
		</div>
	    </li>
	    <li>
		<div class="collapsible-header">
		    <a href="/admin/update-city"> <i class="material-icons">edit</i> Editar ciudades </a>
		</div>
	    </li>
	    <li>
		<div class="collapsible-header">
		    <a href="/admin/update-park"> <i class="material-icons">edit</i> Editar un parques </a>
		</div>
	    </li>
	    <li>
		<div class="collapsible-header">
		    <a href="/admin/update-zone"> <i class="material-icons">edit</i> Editar una zonas </a>
		</div>
	    </li>
	</ul>
    </div>
</div> 
