<footer class="page-footer">
    <div class="container">
	<div class="row">
	    <div class="col l6 s12">
		<h5 class="white-text">Coaster DotNet</h5>
		<p class="grey-text text-lighten-4">
		Por favor, escribanme qué le puedo colocar a este footer
		</p>
	    </div>
	    <div class="col l4 offset-l2 s12">
		<h5 class="white-text">Enlaces de las herramientas empleadas para este proyecto</h5>
		<ul>
		    <li><a class="grey-text text-lighten-3" href="https://angular.io/">Enlace a Angular</a></li>
		    <li><a class="grey-text text-lighten-3" href="https://getbootstrap.com/">Enlace a Bootstrap</a></li>
		    <li><a class="grey-text text-lighten-3" href="https://materializecss.com/">Enlace a Materialize</a></li>
		    <li><a class="grey-text text-lighten-3" href="https://www.npmjs.com/">Enlace a NPM</a></li>
		</ul>
	    </div>
	</div>
    </div>
    <div class="footer-copyright">
	<div class="container">
	    © 2022 Copyright
	    <a class="grey-text text-lighten-4 right" href="https://www.youtube.com/watch?v=T-O450lt-vI">Enlace de prueba</a>
	</div>
    </div>
</footer>

