<h3>¿Qué cambios desea hacer?</h3>
<form class="col s12">
    <div class="row">
	<div class="input-field col s6">
	    <input id="newNames" type="text" class="validate">
	    <label for="newNames">Nombres</label>
	</div>
	<div class="input-field col s6">
	    <input id="newSurnames" type="text" class="validate">
	    <label for="newSurnames">Apellidos</label>
	</div>
    </div>
    <div class="row">
	<div class="input-field col s6">
	    <i class="material-icons prefix">email</i>
	    <input id="newEmail" type="text" class="validate">
	    <label for="newEmail">Corro electrónico</label>
	</div>
	<div class="input-field col s6">
	    <i class="material-icons prefix">phone</i>
	    <input id="newPhone" type="number" class="validate">
	    <label for="newPhone">teléfono</label>
	</div>
    </div>
    <button class="btn waves-effect waves-light indigo" type="button" name="action">Actualizar usuario
	<i class="material-icons right">update</i>
    </button>
    <button class="btn waves-effect waves-light red" type="button" name="action">Eliminar usuario
	<i class="material-icons right">delete</i>
    </button>
</form>
