<nav>
    <div class="nav-wrapper">
	<a routerLink="/inicio" class="brand-logo">Principal</a>
	<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
	<ul class="right hide-on-med-and-down">
	    <li *ngIf="isIn"><a routerLink="/plans/reservar">Reservar planes</a></li>
	    <li><a routerLink="/administration/user-handbook">Manual de uso</a></li>
	    <li *ngIf="isIn"><a routerLink="/security/logout">Cerrar sesión</a></li>
	    <li *ngIf="isIn"><a routerLink="/administration/edit-person">Editar usuario</a></li>
	    <li *ngIf="!isIn"><a routerLink="/security/identificar">Iniciar sesión</a></li>
	    <li *ngIf="!isIn"><a routerLink="/administration/create-person">Registrarse</a></li>
	</ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li *ngIf="isIn"><a routerLink="sass.html">Reservar planes</a></li>
    <li><a routerLink="/administration/user-handbook">Manual de uso</a></li>
    <li *ngIf="isIn"><a routerLink="/security/logout">Cerrar sesión</a></li>
    <li *ngIf="!isIn"><a routerLink="/security/identificar">Iniciar sesión</a></li>
    <li *ngIf="!isIn"><a routerLink="/administration/create-person">Registrarse</a></li>
</ul>
