<a class="btn waves-effect waves-light" routerLink="/admin/main">Volver</a>
<a class="btn waves-effect waves-light" routerLink="/admin/add-department">Crear departamento</a>
<table>
    <thead>
	<tr>
	    <th> Identificación </th>
	    <th> Nombre </th>
	</tr>
    </thead>
    <tbody>
	<tr *ngFor="let d of listD">
	    <td> {{d.id}} </td>
	    <td> {{d.name}} </td>
	    <td>
		<a class="btn waves-effect waves-light indigo" routerLink="/admin/update-department/{{d.id}}">Editar departamento</a>
	    </td>
	</tr>
    </tbody>
</table>
