<h3 class="center-align">Adventure park</h3>
<h4><i>Por Coaster DotNet</i></h4>
<p>La experiencia de los parques está dada por este proyecto que se enfoca más que nada en otorgar servicios a los
usuarios alrededor de Colombia para los parques a los que van a ir. Las filas son tediosas y siempre nos causan
impaciencia; sólamente habrá filas para verificar los planes que tienen los usuarios. No olviden que también pueden
comprar comida desde este sitio :)</p>
<div class="row">
    <div class="col s6 m7">
	<div class="card">
	    <div class="card-image">
		<img src="https://avatars.githubusercontent.com/u/111134123?s=400&u=a5384240585e483cd77a42fe07a75fddee24da5d&v=4" class="card-img-top">
		<span class="card-title">Lincunia</span>
	    </div>
	    <div class="card-content">
		<p> Este apartado es dedicado al proyecto original de los creadores </p>
	    </div>
	    <div class="card-action">
		<a href="https://github.com/Lincunia/Adventure-Park-51.git">Visitar proyecto</a>
	    </div>
	</div>
    </div>
</div>
