<div class="card-panel amber lighten-5">
    <h3> Registro de usuarios </h3>
    <form class="col s12">
	<div class="row">
	    <div class="input-field col s6">
		<input id="names" type="text" class="validate">
		<label for="names">Nombres</label>
	    </div>
	    <div class="input-field col s6">
		<input id="surnames" type="text" class="validate">
		<label for="surnames">Nombres</label>
	    </div>
	</div>
	<div class="row">
	    <div class="input-field col s6">
		<i class="material-icons prefix">email</i>
		<input id="email" type="text" class="validate">
		<label for="email">Corro electrónico</label>
	    </div>
	    <div class="input-field col s6">
		<i class="material-icons prefix">phone</i>
		<input id="phone" type="number" class="validate">
		<label for="phone">Teléfono</label>
	    </div>
	</div>
	<button class="btn waves-effect waves-light" type="submit" name="action">Registrarse
	    <i class="material-icons right">send</i>
	</button>
    </form>
</div>
