<div class="row">
    <img class="input-field col s6" src="https://www.eltiempo.com/files/article_multimedia/uploads/2017/10/04/59d50f3e53199.jpeg">
    <div class="input-field col s6">
	<ul class="collapsible">
	    <li>
		<div class="collapsible-header">
		    <a href="/plans/reservar">
			<i class="material-icons">save</i>
			Reservar un nuevo plan
		    </a>
		</div>
	    </li>
	    <li>
		<div class="collapsible-header">
		    <a href="/plans/obtener">
			<i class="material-icons">search</i>
			Revisar si hay algún plan
		    </a>
		</div>
	    </li>
	    <li>
		<div class="collapsible-header">
		    <a href="/plans/desechar">
			<i class="material-icons">delete</i>
			Eliminar algún plan
		    </a>
		</div>
	    </li>
	    <li>
		<div class="collapsible-header">
		    <a href="/plans/editar">
			<i class="material-icons">edit</i>
			Editar algún plan
		    </a>
		</div>
	    </li>
	</ul>

    </div> 
</div> 
